<a href="/posts" class="btn-back">Voltar</a>
<div class="post-form-container">
    <h2>Add Post</h2>
    <form action="/addPost" method="post">
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Digite o título do Post">
        </div>
        <div class="form-control">
            <label for="description">Descrição do post:</label>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Descreva sobre o seu Post"></textarea>
        </div>
        <div class="form-submit">
            <input class="btn btn-primary" type="submit" value="Publicar">
        </div>
    </form>
</div>